/*
 * Just including this line gives us the bootstrap frame work;
 * your app instantly looks like a cool, swanky, modern web app.
 * Although, it may appear too similar to other web apps . . .
 *
 */
@import "bootstrap";

/*
 *  --- SASS mixins, variables, etc. ---
 */
$grayMediumLight: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/*
 * --- Universal CSS Rules ---
 * CSS rules are either a class, id, HTML tag, or a combination,
 * followed by styling commands. SASS gives us some cool additional powers
 * on top of CSS. For example, we can next rules. We can also use '$' to define
 * variables: $light_gray: #999. We can also use pre-built variables. The
 * list is at (http://bootstrapdocs.com/v2.0.4/docs/less.html). Those are
 * in 'LESS' but all you need to do is convert @ to $
 */

html {
  overflow-y: scroll;
}

/* We are setting a rule for an HTML tag */
body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

/* We are setting a rule for the "center" class
   The period denotes a rule for a class */
.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

/*
 * w/ SASS, we can embed this standalone CSS rule in the .center rule.
 *
.center h1 {
  margin-bottom: 10px;
}
*/

/*
 * --- Typography ---
 */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $grayLight;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}


/*
 * --- Header ---
 */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: $white;  /* $white / #fff == white */
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  line-height: 1;

  &:hover {
    color: $white;
    text-decoration: none;
  }
}

/*
 * W/ SASS, we can take this attribute rule for the id '#logo" and
 * add it to the main logo rule by using '&' to reference '#logo'
 *
#logo:hover {
  color: #fff;
  text-decoration: none;
}
*/



/*
 * --- Sidebar ---
 */

aside {
  section {
    padding: 10px 0;
    border-top: 1px solid $grayLighter;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

.gravatar {
  float: left;
  margin-right: 10px;
}

/*
 * --- Footer ---
 */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $grayMediumLight;
  color: $grayLight;

  a {
    color: $gray;
    &:hover {
      color: $grayDarker;
    }
  }

  small {
    float: left
  }

  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 10px;
    }
  }
}


/*
 * --- Forms ---
 */
input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.field_with_errors {
  @extend .control-group;
  @extend .error;
}


/*
 * --- Users index ---
 */
.users {
  list-style: none;
  margin: 0;

  li {
    overflow: auto;
    padding: 10px 0;
    border-top: 1px solid $grayLighter;

    &:last-child {
      border-bottom: 1px solid $grayLighter;
    }
  }
}


/*
 *  --- Miscellaneous ---
 */
.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}